* {
  margin: 0px;
  padding: 0px;
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: ghostwhite;
  scroll-behavior: smooth;
}
/* Navbar section  */
.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid white;
  background-color: #131a22;
  position: fixed;
  border-radius: 0.5rem;
  top: 0px;
  z-index: 10;
}
.nav-logo {
  height: 50px;
  width: 100px;
  background-image: url(travel-2.jpg);
  background-size: cover;
  border-radius: 0.5rem;
  border: 2px solid #d4f1f4;
}
a {
  text-decoration: none;
  color: white;
  font-size: large;
}
.search {
  font-size: large;
  color: white;
}
.user {
  font-size: large;
  color: white;
}

/* video section  */
.video {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  position: relative;
}
#slider {
  width: 100%;
}
/* Booking section /////////////////////////////////// */
.book-head {
  height: 90px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#book-logo {
  height: 80px;
  width: 100px;
  background-size: cover;
  background-image: url(book\ img.png);
}
/* booking body  */
.form {
  height: 680px;
  width: 100vmax;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
}
.book-image {
  height: 550px;
  width: 500px;
  background-size: cover;
  background-image: url(book-img\ 2.avif);
  border-radius: 1rem;
}
.fill-form {
  height: 550px;
  width: 500px;
  padding-left: 100px;
  border-radius: 1rem;
  border: 2px solid black;
}
/* information */
.info {
  height: 30px;
  width: 400px;
  border-radius: 0.5rem;
}
.heading {
  display: contents;
  justify-content: center;
}
.button {
  height: 30px;
  width: 60px;
  color: #000;
  border-radius: 1rem;
  border: 2px solid black;
}
/* pacakage section  */
#pacakage {
  height: 1000px;
  width: 100vmax;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin-top: 10px;
  background-color: ghostwhite;
}
.places {
  height: 400px;
  width: 300px;
  /* border: 1px solid black; */
  border-radius: 0.2rem;
  background-color: white;
}
.place-img {
  height: 250px;
  width: 300px;
  background-size: cover;
}
h2 {
  margin-left: 10px;
}
h4 {
  margin-top: 10px;
  margin-left: 40px;
}
.BookNow {
  height: 40px;
  width: 100px;
  color: white;
  background-color: orange;
  margin-left: 10px;
  border: white;
  border-radius: 0.3rem;
  font-size: 15px;
}
.BookNow:hover {
  background-color: rgba(226, 147, 0, 0.653);
  cursor: pointer;
}
/* services  */
.facilities {
  height: 800px;
  width: 100vmax;
  margin-top: 20px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.facility {
  height: 300px;
  width: 400px;
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.facility i {
  width: 400px;
  display: flex;
  justify-content: center;
}
.awesome-logo {
  color: orange;
}
.service-logo {
  font-size: 50px;
  color: orange;
}
p {
  padding-left: 10px;
  padding-right: 10px;
}
/* review  */
.boxes {
  height: 600px;
  width: 100vm;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px 0 20px;
}
.celebs {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-evenly;

  padding-top: 40px;
  flex-wrap: wrap;
  background-color: white;
  align-items: start;
}
.hero {
  height: 200px;
  width: 200px;
  /* border: 1px solid black; */
  background-color: rosybrown;
  border-radius: 50%;
  background-size: cover;
 
}
p {
  padding-left: 15px;
  padding-right: 15px;
  color: orange;
  font-size: large;
}
/* contact  */
footer {
  background-color: var(--extra-light);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
  border-radius: 0.5rem;
}

.footer__col p {
  max-width: 300px;
  margin-block: 2rem;
  color: var(--text-light);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__socials a {
  display: inline-block;
  padding: 7px 10px;
  font-size: 1.25rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
}

.footer__socials a:hover {
  background-color: var(--primary-color-dark);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__links a span {
  font-size: 1.25rem;
}

.footer__col form {
  display: grid;
  gap: 1rem;
}

.footer__col input {
  padding: 0.75rem;
  font-size: 1rem;
  color: var(--text-dark);
  background-color: var(--white);
  border: 1px solid var(--text-light);
  border-radius: 5px;
}

.footer__col input::placeholder {
  color: var(--text-light);
}

.footer__col .btn {
  border-radius: 5px;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 540px) {
  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .journey__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .showcase__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .banner__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .discover__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    background-color:black;
    color: white;
    radius
    border: 1px solid black;
  }

  .footer__col:last-child {
    grid-area: 2/1/3/2;
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo .logo {
    color: var(--text-dark);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .nav__links li:last-child {
    display: none;
  }

  .nav__btns {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .nav__btns button {
    padding: 0.75rem 2rem;
    background-color: var(--text-dark);
  }

  header {
    margin-top: 0;
  }

  .header__container {
    grid-template-columns:
      minmax(0, 1fr)
      repeat(5, minmax(0, calc(var(--max-width) / 5)))
      minmax(0, 1fr);
  }

  .header__content {
    grid-column: 2/4;
    padding-block: 8rem;
  }

  .header__content :is(p, h1) {
    text-align: left;
  }

  .header__btns {
    justify-content: flex-start;
  }

  .header__image {
    grid-column: 4/8;
    position: relative;
    isolation: isolate;
    height: 100%;
  }

  .header__image img {
    position: absolute;
    top: 2rem;
    left: 0;
    height: 100%;
    width: unset;
  }

  .destination__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .journey__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .showcase__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .showcase__content {
    grid-column: 2/4;
  }

  .banner__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .discover__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__container {
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
  }

  .footer__col:last-child {
    grid-area: unset;
  }
}

@media (width > 1200px) {
  .header__content {
    padding-inline: 1rem 0;
  }

  .destination__grid {
    gap: 2rem;
  }
}
